html,body{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    
    padding:0;
    margin:0;
    
    background-color:#F2F2F2;
    font-family: Helvetica, Arial, sans-serif;
    overflow:hidden;
    font-weight: 100;
}

*{
    box-sizing: border-box;
}

section{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20%;
    width:45%;
}

input[type="text"],input[type="password"]{
    display: block;
    border:none;
    background-color:rgba(157,172,178,0.1);
    padding:10px;
    font-size:18px;
    margin-left: auto;
    margin-right:auto;
    margin-top:15px;
    outline-color: #7DC6FF;
}

input[type="button"],button{
    display: block;
    border:none;
    outline:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    font-size:18px;
    
    background-color:#2891FF;
    color:white;
    padding:10px;
    min-width: 120px;
    border-radius: 20px;
    
    cursor: pointer;
}

#signUpMessage{
    width:100%;
    text-align: center;
    margin-top:20px;
    color:grey;
    font-size:14px;
}

#signUp{
    color:#2891FF;
}

#fileColumnHolder{
    height: 100%;
    background-color:white;
}

.fileColumnHolder{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.fileColumn{
    width:250px;
    border-right:1px solid #B4BBBF;
    height: 100%;
    padding:20px;
    color:grey;
    display: inline-block;
    vertical-align: top;
    background-color:#F2F2F2;
}

.fileColumnHeader{
    color:#CECBD1;
    font-size: 20px;
    margin-bottom:10px;
}

.hide{
    display: none;
}