tree-item .itemContainer{
    position: relative;
    margin-bottom: 5px;
    padding-left: 5px;
}

tree-item .itemNameContainer{
    padding:2px;
    position: relative;
}

tree-item[is-folder="true"] > .itemContainer > .itemNameContainer.selected::after{
    
    content:"";
    height:100%;
    width:20px;
/*    background-color:red;*/
    display: block;
    position: absolute;
    top:0;
    right:-17px;
    background-image:url(img/columnArrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

tree-item .folder{
    vertical-align: middle;
    width:20px;
}

tree-item .arrow{
    vertical-align: middle;
    width:10px;
    margin-right:5px;
    transition: all 0.2s;
}

tree-item.expanded > .itemContainer > .itemNameContainer .arrow{
    transform:rotate(90deg);
}

tree-item .name{
    vertical-align: middle;
}

tree-item{
    cursor: pointer;
}

tree-item .selected{
/*    background-color:#CAD1D6;*/
    background-color:#D8E0E5;
}

tree-item .itemContainer .children{
    padding-left:20px;
    display: none;
}

tree-item .children:empty::after{
    content: "Empty";
    font-style: italic;
    padding:10px;
    padding-top:15px;
}

tree-item .newName{
    border:1px solid grey;
    background-color:none;
    border-radius: 4px;
/*    padding:2px;*/
    font-size:14px;
    width: 120px;
}

tree-item > .itemContainer > .itemNameContainer .newName{
    display: none;
}

tree-item.editing > .itemContainer > .itemNameContainer .name{
    display: none;
}

tree-item.editing > .itemContainer > .itemNameContainer .newName{
    display: inline-block;
}

tree-item{
    user-select:none;
    -webkit-user-select:none;
}